/**
* Common global styles
*
*/

body,
html {
    font-family: 'Open-Sans-regular';
    font-size: 24px;
    line-height: 1.8em;
    color: #535353;
}

h1 {
    font-size: 36px;
}

h2 {
    font-family: 'Open-Sans-600';   
}

s h2 {
    font-size: 34px;
}

a,
a:hover,
a:visited,
a:focus,
a:active:focus
a:active {
    outline: none !important; 
    text-decoration: none !important; 
    text-shadow: none !important; 
}

p {
    padding: 0;
    margin: 0;
}

.text-white {
    color: #fff;
}

.text-blue {
    color: #115788;
}

.text-light {
    font-family: "Open-Sans-light";
}

.text-regular {
    font-family: "Open-Sans-regular";
}

.margin-0 {
    margin: 0;
}

.padding-t10{
    padding-top: 10px;
}

.padding-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-t30 {
    padding-top: 30px;
}

.padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-t50 {
    padding-top: 50px;
}

.padding-t60 {
    padding-top: 60px;
}

.padding-b60 {
    padding-bottom: 60px;
}

/**
* Block style
*
* Block and section level styles.
* Applied on blocks and sections all over the project.
*/

.block {
    margin-bottom: 50px;
}

.splash-block {
    width: 100%;
    z-index: -1;
    background-position: center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.block .container h2 {
    margin-bottom: 20px;
}

/**
* Image styles
*
* Styles applied on images.
*/

.img-container {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.img-class {
    filter: grayscale(1);
    max-width: 100%;
    max-height: 100%;
    transition-duration: 0.3s;
    -webkit-filter: grayscale(1);
}

.img-class:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/**
* Menu
*
* Styles applied on menu elements such as navbar
*/

.navbar {
    background: white;
    border: 0;
    color: #115788;
    font-family: 'Open-Sans-600';
}

.navbar-brand {
    float: left;
    font-size: 30px;
}

.navbar-right {
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover,
.navbar.navbar-default .navbar-nav>li>a {
    color: #115788;
    font-weight: 400;
    text-shadow: none;
}

.navbar .navbar-nav>li:hover,
.navbar .navbar-nav>li:hover a,
.navbar .navbar-nav>li a:hover {
    background: #115788;
    color: white;
}

.navbar .navbar-nav li.active,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    background: #115788;
    box-shadow: none;
    color: white;
}

.navbar-default .navbar-nav > li.current-menu-item,
.navbar-default .navbar-nav > li.current-menu-item a{
    background-color: #115788;
    color: white;
}

.navbar-default .navbar-nav > li.current-menu-item a:after{
    background-color: white;
    bottom: 0;
    content: "";
    height: 2px;
    left: 15%;
    position: absolute;
    right: 15%;
    visibility: visible;
    transform: none;
}

.navbar-default .navbar-toggle {
    border-color: #115788;
    transition: all 0.2s ease-in-out 0s;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #115788;
    transition: all 0.2s ease-in-out 0s;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #115788;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: white;
}

.navbar-default .navbar-nav > li.qtranxs-lang-menu{
    float: right;
}
/**
* Separator
*
* Styles applied to the separator used to separate section.
* A separator made by two horizontal line and an image or
* title between them. 
* 
* Used on all pages.
*/

.separator {
    margin-bottom: 28px;
    margin-top: 28px;
}

.separator .separator-content {
    color: #115788;
    font-size: 38px;
    font-weight: 600;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.separator h1.separator-content{
    line-height: 1.7;
}

.separator .separator-content:before,
.separator .separator-content:after {
    content: "";
    border-bottom: 1px solid;
    display: inline-block;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    width: 50%;
}

.separator .separator-content:after {
    margin: 0 -55% 0 .5em;
}

.separator.partner-separator {
    margin-bottom: 0;
    margin-top: 0;
}

/**
* Footer style
*
* Styles applied on the footer.
*/

#footer {
    background-color: #115788;
    color: #fff;
    line-height: 1.42857143;
    font-size: 23px;
    padding: 0px 0px 26px 0px;
}

#footer a,
#footer a:hover,
#footer a:visited,
#footer a:active {
    color: #fff;
}

#footer .social-list {
    list-style: none;
    margin: 20px 0px 0px 0px;
    padding: 0;
}

#footer .social-list li {
    display: inline-block;
}

#footer .social-list li a:hover,
.social-list li a:focus,
.social-list li a.active {
    background-color: #115788;
    border: 2px solid #fff;
    color: #fff;
}

#footer .social-list li a {
    background-color: #fff;
    border: 2px solid #fff;
    color: #115788;
    height: 60px;
    list-style: none;
    margin-right: 5px;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    width: 60px;
}

#footer div.col-md-4,
#footer div.col-md-8{
    padding-top: 30px;
}

#footer div.col-md-4:nth-child(even) p:first-of-type,
#footer div.col-md-8:nth-child(odd) p:first-of-type{
    font-family: "Open-Sans-light";
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer div.col-md-4 h2:nth-child(2) {
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0;
}

#map {
    height: 238px;
    margin: 0 auto;
    width: 305px;
}

footer {
    font-size: 14px;
    margin: 20px 0px 20px 0px;
}

/**
* Button style
*
* Styles applied on buttons.
*/

.btn {
    border: 2px solid transparent;
    border-radius: 0px;
    color: #fff;
    font-size: 24px;
    padding: 6px 50px 6px 50px;
    transition: all 0.2s ease-in-out 0s;
}

.btn:visited,
.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none;
}

.btn-blue {
    background-color: #115788;
}

.btn-blue:visited,
.btn-blue:focus,
.btn-green:visited,
.btn-green:focus {
    color: #fff;
}

.btn-blue:hover {
    border-color: #115788;
    background-color: #fff;
    color: #115788;
}

.btn-green {
    background-color: #0fa9a9;
}

.btn-green:hover {
    background-color: #fff;
    border-color: #0fa9a9;
    color: #0fa9a9;
}

.btn-white {
    background-color: #fff;
    color: #115788;
}

.btn-white:hover {
    background-color: #115788;
    border-color: #fff;
    color: #fff;
}

.btn-white:focus {
    color: #115788;
}

.btn-white:focus:hover {
    color: #fff;
}

/**
* Modal style
*
* Styles applied on modals.
*/


.modal-body {
    background-image: url("../img/bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 50px 70px;
}


.modal-body img {
    width: 100%;
}

.modal-dialog {
    max-width: 850px;
    width: 100%;
}

.modal .close {
    box-shadow: none;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    margin-right: 10px;
    text-shadow: none;
}

.modal .close:active,
.modal .close:hover,
.modal .close:focus,
.modal .close:visited{
    outline: none;
}

.modal .modal-dialog {
    max-width: 600px;
}

#modal-contact textarea {
    height: 120px;
    resize: none;
    width: 100%;
}

.modal-header {
    background-image: url("../img/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-header h1{
    color: #fff;
    font-size: 24px;
    padding: 33px 0px 33px 0px;
    text-transform: uppercase;
}

.form-control {
    border-radius: 0;
    height: 40px;
}

.modal-body .form-group label{
    font-size: 15px;
    line-height: normal;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.modal-body .form-group{
    margin-bottom: 0px;
}

.modal-body button[type=submit]{
    margin-top: 15px;
}

.warning{
    border: 1px solid red;
}

/**
* Index page style
*
* Styles applied on index page.
*/

#main .splash-block {
    /*background-attachment: fixed;*/
    background-image: url(../img/main_photo.jpg);
    height: 600px;
    margin-top: 84px;
}

#img-phone {
    margin-top: 115px;
    margin-left: -24px;
}

#main .block p{
    font-family: "Open-Sans-light";
}


#main #block2 {
    background-image: url(../img/bg1.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    z-index: -1;
}

.embed-video {
    border: 20px solid #d0d0d0;
}


/**
* Partners page style
*
* Styles applied on partners page.
*/
#partners #block2 {
    /*background-image: url(../img/bg3.jpg);
    padding-bottom: 43px;*/
}

#partners #block2 .separator{
    margin-bottom: 28px;
}

#partners #block1 h2{
    /*color: #115788;*/
}
#partners #block1 p{
   
}

#partners #block1 a,
#partners #block1 a:hover,
#partners #block1 a:visited,
#partners #block1 a:active {
    color: #535353;
}

#partners #block2 ul{
    list-style-image: url(../img/arrow2.png);
}

#partner-block,
#partner-list {
    margin-bottom: 20px;
    margin-top: -20px;
}

#partner-block .img-class,
#partner-list .img-class {
    margin-bottom: 30px;
    margin-top: 30px;
}

#partners #partner-block .img-class {
    max-width: 75%;
}

#blog .separator {
    margin-bottom: 50px;
}

/**
* Blog page style
*
* Styles applied on blog page.
*/


#blog .splash-block,
#users .splash-block,
#partners .splash-block {
    height: 300px;
    margin-top: 84px;
}

#blog #posts .post-header p {
    background-color: #f5f5f5;
    color: #115788;
    font-size: 14px;
    padding-left: 15px;
}

#blog #posts .apost {
    margin-bottom: 50px;
}

#blog #posts .post-text {
    font-size: 22px;
    line-height: normal;
}

/**
* Users page style
*
* Styles applied on users page.
*/

#users .users-description {
    line-height: normal;
    padding: 15px 15px 0px 15px;
}

#users .users-description p {
    margin-top: 20px;
}

/* Must be overrided as Bootstrap has its own hide class */
#users .users-description a.hide {
    display: block !important;
}

#users .users-description a {
    font-size: 20px;
    text-align: right;
}

#users .block1{
    padding-top: 7px;
}

#users .block h2{
    /*color: #115788;*/
}

#users .block p{
    font-family: "Open-Sans-light";
}

#users .partner-images-container {
    padding-top: 36px;
}


/**
* Media queries
*
* Media queries applied all over the site.
*/


@media (max-width: 280px){
    #map {
        width: 150px;
        height: : 150px;
    }
}

@media (max-width: 350px){
    #map {
        width: 238px;
    }
}

@media (min-width: 616px) {
    #modal-contact .modal-body input {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .navbar .collapse.navbar-right ul li {
        padding-bottom: 17px;
        padding-top: 17px;
    }
    /*Hover line only on big screen*/
    .navbar .navbar-nav>li>a:hover::after {
        visibility: visible;
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
    }
    .navbar .navbar-nav>li>a::after {
        background-color: white;
        bottom: 0;
        content: "";
        height: 2px;
        left: 15%;
        position: absolute;
        right: 15%;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }

    #partner-block .img-class,
    #partner-list .img-class{
        width: 60%;
    }
}

@media (max-width: 767px) {
    .img-container {
        /*margin-top: 40px;
        margin-bottom: 40px;*/
    }

    #partner-block .img-class,
    #partner-list .img-class{
        width: 40%;
    }

    #footer .row .col-md-8,
    #footer .row .col-md-4,
    #footer .row .col-sm-8,
    #footer .row .col-sm-4{
        text-align: center;
    }
}


/*Fix Bootstrap navbar collapse*/
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-brand {
        padding: 8px 15px;
    }

    #blog .splash-block, 
    #main .splash-block,
    #partners .splash-block,
    #users .splash-block{
        margin-top: 50px;
    }
}

@media (min-width: 1000px) {
    .container .navbar-header {
        padding-top: 10px;
    }
}

@media (min-width: 992px) {
    .embed-video {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    #partner-block .img-class,
    #partner-list .img-class{
        width: 60%;
    }
}

@media (max-width: 991px) {
    #partner-block .clear-both,
    #partner-list .clear-both {
        clear: both;
    }
    #blog #posts .img-container img {
        margin: 0 auto;
    }
    #img-phone{
        display: none;
    }

    #users .block .col-md-5:nth-child(2){
        margin-top: 38px;
    }
}


/**
* Custom Pagination
*
* Design of the pagination on blog page
*/

.custom-pagination span,
.custom-pagination a {
  display: inline-block;
  padding: 2px 10px;
}

.custom-pagination a {
  background-color: #ebebeb;
  color: #115788;
}

.custom-pagination a:hover {
  background-color: #115788;
  color: #fff;
}

.custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0;
}

.custom-pagination span.dots {
  padding: 0;
  color: gainsboro;
}

.custom-pagination span.current {
  background-color: #115788;
  color: #fff;
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa-rotate-90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.block h2:first-child{
    margin-top: 0;
    padding-top: 0;   
}

.block h2{
    margin-top: 30px;
}